<!DOCTYPE html>
<html>
  <!--Function to visit a page -->
  <script>
    function visitPage(a){
      window.location= a;
    }
  </script>

    <head>
        <meta charset="UTF-8">
        <title>Lista de Presença - Engenharia da Computação - Insper</title>
    </head>

    <body>
        <h2>Olá, se você ja entá cadastrado, faça seu login, caso contrário, se registre.</h2>
        <p></p>

        <form>
          Usuário:<br>
          <input type="text" name="user_name"><br>
          Senha:<br>
          <input type="text" name="password">
        </form>
        <p></p>

        <button type="submit">Login</button>
        <button type="button" onclick="visitPage('http://127.0.0.1:5000/registro');": right>Registrar</button>

    </body>

</html>
