<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lista de Presença - Engenharia da Computação - Insper</title>
    </head>
    <body>
        Olá, se você ja entá cadastrado, faça seu login, caso contrário, se registre.
        <p></p>

        <form>
          Usuário:<br>
          <input type="text" name="user_name"><br>
          Senha:<br>
          <input type="text" name="password">
        </form>
        <p></p>
        
        <button type="button", id="login">Login</button>
        <button type="button", id="register": right>Registrar</button>

    </body>
</html>
